.header-block1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  font-weight: bold;
}
.header-block2{
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}
.header-block1, .header-block2{
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-brand{
  padding-left: 20px;
  font-size: 40px;
}
.home-btn{
  background-color: lightblue;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 20px;
}
.add-btm{
  background-color: rgb(127, 231, 226);
  border-radius: 3px;
  font-weight: bold;
}
